body {
    background-image: url("pictures and stuff/uh oh.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
article {
    border-style: solid;
    background-color: black;
    border-color: hsl(0, 0%, 30%);
}
h1 {
    color: hsl(0, 0%, 30%);
    padding: 10px;
}
p {
    color: hsl(0, 0%, 30%);
    padding: 10px;
}
a {
    color: grey;
}